@page "/StateHasChangedDemo"
@rendermode  InteractiveWebAssembly

<h3>StateHasChangedDemo</h3>

@currentTime.ToLongTimeString()

@code {
    TimeOnly currentTime;

    Timer timer;
    
    protected override void OnInitialized() {
        timer = new(_ => {
                currentTime = TimeOnly.FromDateTime(DateTime.Now);

                InvokeAsync(StateHasChanged);
            },
            null, 0, 1000);
    }
}