
<button disabled="@isDisabled" @attributes="AdditionalAttributes" @onclick="OnButtonClickedAsync">Click me!</button>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }
    
    private bool isExecuting = false;

    private bool isDisabled => isExecuting;

    private async Task OnButtonClickedAsync() {
        if (isExecuting) return;
        
        isExecuting = true;

        await InvokeAsync(StateHasChanged);
        
        await OnClick.InvokeAsync();
        
        isExecuting = false;
    }
}