@page "/CascadingParameterDemo"
@rendermode InteractiveServer

@using BlazorDometrainCourse.Data

<h3>CascadingParameterDemo</h3>

@* Supplies the value to all descendants to avoid repetitive passing: *@
<CascadingValue Value="@ValueToCascade">
    <WithCascadingParameter/>
    <WithCascadingParameter/>
    <WithCascadingParameter/>
</CascadingValue>

<button @onclick="UpdateValue">Update Cascading Value</button>

<h3>At the root level, to pass a value to components anywhere</h3>

<WithRootLevelCascading/>
<WithRootLevelCascading/>

<button @onclick="@(() => Model.SomeText = "Hello again")">Reset</button>


@code {
    private string ValueToCascade { get; set; } = "I was only passed down once!";

    private void UpdateValue() {
        ValueToCascade = "Hello from here!";
    }

    [CascadingParameter] public required CascadingModel Model { get; set; }
    
}