@page "/InjectDemo"
@using BlazorDometrainCourse.Services.Services
@rendermode InteractiveServer
@inject IMyService MyServiceInstance

<h3>InjectDemo</h3>

<button @onclick='() => MyServiceInstance.AddName("Billy Blizzard")'>Add Billy</button>
<br/>

@foreach (var name in MyServiceInstance.Names){
    @name <br/>
}

@code {
    // Nothing to see here ;) Both the Names list and the AddName method are in the service
}